bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea/
BE_VotingSystem/appsettings.json
/.vs
BE_VotingSystem/BE_VotingSystem.csproj.user
.cursor/rules/dotnet-api.mdc
appsettings.json
.env
.env.*
!.env.example
/.cursor
.vscode/
instructions/

# Logs
logs/
*.log